// iWorks Aquarium Log Settings Styles
:root {
	--aquarium-log-settings-bg: #fff;
	--aquarium-log-settings-border: var(--wp-editor-canvas-background);

	--aquarium-log-settings-padding-s: 10px;
	--aquarium-log-settings-padding-m: 20px;
	--aquarium-log-settings-padding-l: 30px;

	--aquarium-log-settings-gap: var(--aquarium-log-settings-padding-s);

	--aquarium-log-settings-radius: 4px;
	--aquarium-log-settings-gap: 10px;


	--aquarium-log-settings-danger: #dc3545;
	--aquarium-log-settings-safety: #ffc107;
	--aquarium-log-settings-ideal: #28a745;

}